{% extends 'login_base.html' %}
{% load static %}
{% block  content %}

<div class="my-login-page">
	<section class="h-100">
		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-md-center h-100">
					<div class="card-wrapper">
						<div class="brand">
							<img src="{% static 'images/l-3.png'%}"  class="nav-pic" alt="">
						</div>
						<div dir="rtl" class="card fat forms">
							<div class="card-body">
								<h4 class="card-title">استعادة كلمة المرور</h4>
								<form id="myform" method="POST" class="my-login-validation" novalidate="">
									{% csrf_token %}
									<div class="form-group">
										<label for="email"> اسم المستخدم:</label>
										<input id="username" type="text" class="form-control" name="username" required >

										<div class="invalid-feedback invalid-p">
											يرجى إدخال اسم المستخدم!
										</div>

									</div>
	
									<div class="form-group m-0">
										<button type="submit" class="btn btn-primary mt-2">
											استعادة
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="footer">
							Copyright &copy; 2023 &mdash; 
						</div>
					</div>
				</div>
			</div>
		</section>
</div>
{% endblock %}