{% extends 'base.html' %}
{% load static %}
{% block  content %}
{%if user_id is not None%}
{% include 'parts/userNav.html'%}
{%else%}
{% include 'parts/nav.html'%}
{%endif%}


<div class="files-content">
    <div class="container">
      
        <div dir="rtl" class="row row-cols-1 row-cols-md-3 g-4">
          {%for paper in pdf%}
             <!--Start Creat pleacholder Card-->
             <div class="position-relative col d-flex justify-content-center">
              <div class="col-4 card card-width" aria-hidden="true">
                  <img class="card-pic" src="{% static 'images/pdf-1.png'%}" alt="">
                      <div dir='rtl' class="card-body">
                        <h5 class="card-title">{{paper.paper_name}}</h5>
                          </h5>
                      <p class="card-text placeholder-glow">
                              
                      </p>
                      <a href="{{paper.paper.url}}" class="btn btn-primary" downlaod>تحميل</a>
                  </div>
              </div>
          </div>
        <!--End Creat pleacholder Card-->
            {%endfor%}
          </div>
         
    </div>
</div>

{% include 'parts/footer.html'%}
{% endblock %}
