{% extends 'base.html' %}

{% load static %}
{% block  content %}
{%if user_id is not None%}
{% include 'parts/userNav.html'%}
{%else%}
{% include 'parts/nav.html'%}
{%endif%}
<!--section three -->
<div class="info-section" >
    <div class="container ">
      <!--content-->
      <div class="info-content  d-flex justify-content-center align-items-center">
        
        <div class="prof-info rounded-2 row flex-row-reverse  d-flex justify-content-center">

          <!--pictuer-->
          <div class="prof-pic float-end rounded-2 col-6">

            <div class="prof-pictuer rounded-2">
              
              {%if user_image%}
              <img src="{{user_image.url}}" >
              {%else%}
              <img src="{% static 'images/avatar.png'%}" >
              {%endif%}
             
            </div>
            <div dir="rtl" class="about-prof d-flex justify-content-center">
              
            </div>
          </div>
          <!--pictuer-->
          <!--info-->
          <div class="informatio float-end align-items-center col-6" dir="rtl">
          <h5>{{first_name}} {{last_name}}</h5>
          <p>الجامعة :{{university}}</p>
          <p> التخصص الجامعي :{{department}}</p>
          <p>  المؤهل العلمي :{{eligible}}</p>
          <p>  الدرجة العلمية :{{degree}}</p>
          <p>التخصص الدقيق :{{specialty}}</p>
          {%if supervisor %}
          <p>متوفر للعمل كمشرف :متوفر </p>
          {%else%}
          <p>متوفر للعمل كمشرف :غير متوفر </p>
          {%endif%}
          {%if examiner %}
          <p>متوفر للعمل كممتحن : متوفر</p>
          {%else%}
          <p>متوفر للعمل كممتحن : غير متوفر</p>
          {%endif%}
          {%if date %}
          <p>أقرب وقت للتفرغ : {{date}}</p>
          {%else%}
          <p>أقرب وقت للتفرغ : غير متاح حالياً</p>
          {%endif%}
          {%if examiner %}
          <p>متوفر للعمل كممتحن : متوفر</p>
          {%else%}
          <p>متوفر للعمل كممتحن : غير متوفر</p>
          {%endif%}
          {%if has_papers%}
          <p class="d-flex">الاوراق البحثية : 
            <a class="nav-link  me-2" href="{%url 'user-papers' id=id%} ">من هنا</a>
          </p>
          {%else%}
          <p class="d-flex">الاوراق البحثية : 
            غير متاح
          </p>
          {%endif%}
          {%if brief%}
          <p>نبذة تعريفية :</p>
          <!--some-info-->
          <div class="som-info">
            <p>{{brief}}</p>
            {%else%}
            <p>نبذة تعريفية : غير متاح</p>
          <!--some-info-->
          <div class="som-info">
            {%endif%}
          </div>
          <!--some-info-->
          <p class="d-flex">للتواصل :
            <a class="nav-link  me-2" href="{{email}}"><i class="fa-solid fa-envelope"></i></a>
            <a class="nav-link  me-2" href="{{linkedin}}"><i class="fa-brands fa-linkedin"></i></a>
            <a class="nav-link  me-2" href="{{facebook}}"><i class="fa-brands fa-facebook"></i></a>
            <a class="nav-link  me-2" href="{{twitter}}"><i class="fa-brands fa-twitter"></i></a>
            <a class="nav-link  me-2" href="{{whatsup}}"><i class="fa-brands fa-whatsapp"></i></a>
            <a class="nav-link  me-2" href="{{phone}}"><i class="fa-solid fa-phone"></i></i></a>
          </p>
        </div>
          <!--info-->
          
        </div>
        
      </div>
      <!--content-->
    </div>
{% include 'parts/footer.html'%}
{% endblock %}
