{% extends 'base.html' %}
{% load static %}
{% load change_tag %}
{% block content %}
{%if user_id is not None%}
{% include 'parts/userNav.html'%}
{%else%}
{% include 'parts/nav.html'%}
{%endif%}

<div class="content-search">
    <div class="search-box position-relative">
        <div class="container">
                    
                    <div dir="rtl" class="search-tite text-center">
                        <div dir="rtl">
                            <h1> قم بكتابةإسم الورقة التي تبحث عنها</h1>
                        </div>
                    </div>
                <form  class="needs-validation" novalidate action="/search" method="GET", type="search" id="systemForm" name="form" onsubmit="event.preventDefault();">
                    <div class="row search-field position-relative justify-content-sm-center
                        justify-content-center" >
                    
                        <div dir="rtl" class="search-right col-md col-sm-6 me-2 d-flex justify-content-center" id="department">
                            <button id="search"  type="submit" class="btn btn-primary mt-1 rounded-pill ms-5" form="systemForm">البحث الان</button>
                            <input id="papername" type="text" class="form-control resize-from d-inline" name="email"
											value="" required autofocus>
										<div class="invalid-feedback invalid-p">
											يرجى إدخال اسم الذي تريد البحث عنه!
										</div>
                            
                        </div>
                        
                    </div>
                </form>
        </div>
    </div>
</div>
    <!--card-->
<div class="card-content ">
    <div class="container">
        <div id='main_card_box' class="row row-cols-1 row-cols-md-3 g-4 d-flex flex-row-reverse">

            <!--Start Creat pleacholder Card-->
            <div id='pleacholder' class="position-relative col d-flex justify-content-center d-none">
                <div class="col-4 card card-width" aria-hidden="true">
                    <img src="" class="card-pic skeleton" alt="" />
                        <div dir='rtl' class="card-body">
                            <h5 class="card-title placeholder-glow">
                                <span class=" col-6 placeholder"></span>
                            </h5>
                        <p class="card-text placeholder-glow">
                                <span class="card-p col-7 placeholder"> الاوراق غير متوفرة </span>
                                <span class="card-p col-4 placeholder">/  الاوراق غير متوفرة </span>
                                <span class="card-p col-12 d-block position-relative disabled me-1 placeholder">
                                    الاوراق غير متوفرة 
                                    
                                </span>
                                <span class="card-p col-12 d-block position-relative disabled me-1 placeholder">
                                    الاوراق غير متوفرة   
                                </span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6 position-relative"> 
                        </a>
                    </div>
                </div>
            </div>
          <!--End Creat pleacholder Card-->
            
        </div>
    </div>
</div>
    <!--card-->
     <!--load more div-->
    <div id="load-more" class= "load-more d-flex justify-content-center mt-5 mb-5 d-none">
        <button id="load-btn" type="button" class="btn btn-outline-primary">تحميل المزيد</button>
    </div>
     <!--load more div-->

      <!--no more data  div-->
    <div id="no-more" class= "no-more d-flex justify-content-center mt-5 mb-5 d-none">
        <h3 id="notify">لايوجد المزيد..</h3>
    </div>
     <!--no more data div-->

    <script src="{%static 'js/jquery-3.6.1.min.js'%}" ></script>
    <script type="text/javascript">


        
        

        const mainCardBox = document.getElementById('main_card_box')
        const loadBtn = document.getElementById('load-btn')
        const loadMoreDiv = document.getElementById('load-more')
        const noMoreDiv = document.getElementById('no-more')
        const notify = document.getElementById('notify')
        let visble = 10
    
        const hendelGetData = () => {
            const mainCardBox = document.getElementById('main_card_box')
            let paperName  = document.getElementById('papername') 
            const loader = document.getElementById('pleacholder')
            paperName = paperName.value
            
          $.ajax({
            type: 'GET',
            url: `papersData/${visble}/${paperName}`,
            success: function(response){
              max_size = response.max
              const data = response.data 
              console.log(data)
                loader.classList.remove('d-none')
              setTimeout(()=>{
                loader.classList.add('d-none')
                  data.map(value =>{
                    console.log("creat" , value .id )
                    const url = "{%url 'info' 0%}".replace('0', value.author_id);
                    loader.insertAdjacentHTML('beforebegin', `
                                                        
                                                        
                                                        <!--Start Creat pleacholder Card-->
                                                        <div class="position-relative col d-flex justify-content-center">
                                                            <div class="col-4 card card-width" aria-hidden="true">
                                                                <img class="card-pic" src="{% static 'images/pdf-1.png'%}" alt="">
                                                                    <div dir='rtl' class="card-body">
                                                                        <p> الناشر: <a href="${url}">${value.author_name}</a></p>
                                                                        <h5 class="card-title">اسم الورقة: ${value.name}</h5>
                                                                            
                                                                        </h5>
                                                                    <p class="card-text placeholder-glow">
                                                                            
                                                                    </p>
                                                                    <a href="${value.url}" class="btn btn-primary" downlaod>تحميل</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      <!--End Creat pleacholder Card-->
                                                        `)
                
                  })
                  if(data.length >= 10){
                    loadMoreDiv.classList.remove('d-none')
                  }
              }, 1000)
      
              if(max_size){
                if(data.length == 0){
                    loadMoreDiv.classList.add('d-none')
                    noMoreDiv.classList.remove('d-none')
                  }   
              }
      
            },
            error: function(error){
            }
          })
        }

        loadBtn.addEventListener('click', ()=>{
            visble = visble + 10
            hendelGetData()
        })
        function scrollToContent(){
            window.scrollTo({
                left:0,
                top : 1600,
                behavior: "smooth"
            })
        }

        document.getElementById('search').addEventListener('click', function(){
            visble = 10
            noMoreDiv.classList.add('d-none')
            mainCardBox.innerHTML = ""
            mainCardBox.innerHTML +=` <!--Start Creat pleacholder Card-->
            <div id='pleacholder' class="position-relative col d-flex justify-content-center d-none">
                <div class="col-4 card card-width" aria-hidden="true">
                    <img src="" class="card-pic skeleton" alt="" />
                        <div dir='rtl' class="card-body">
                            <p><a href="#"></a</p>
                            <h5 class="card-title placeholder-glow">
                                <span class=" col-6 placeholder"></span>
                            </h5>
                        <p class="card-text placeholder-glow">
                                <span class="card-p col-7 placeholder">الورقة متاحة</span>
                                <span class="card-p col-4 placeholder">/ الورقة متاحة</span>
                                <span class="card-p col-12 d-block position-relative disabled me-1 placeholder">
                                    الورقة غير متاحة للتحميل
                                    
                                </span>
                                <span class="card-p col-12 d-block position-relative disabled me-1 placeholder">
                                    الورقة غير متاحة للتحميل
                                    
                                </span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6 position-relative"> 
                        </a>
                    </div>
                </div>
            </div>
          <!--End Creat pleacholder Card-->`;
            
         
        hendelGetData()
        scrollToContent()  
                        
            
        });
        
    </script>
{% include 'parts/footer.html'%}
{% endblock %}
