{% extends 'base.html' %}
{% load static %}
{% block  content %}
{%if user_id is not None%}
{% include 'parts/userNav.html'%}
{%else%}
{% include 'parts/nav.html'%}
{%endif%}

<!--section tow -->
<div class="info-teacher">
  
  <div class="container">
    <div dir="rtl" class="row user-info position-relative justify-content-sm-center justify-content-center ">
       <form class="row needs-validation" novalidate action="profile" method="POST" enctype="multipart/form-data" id="pic-form" name="form">
        {% csrf_token %}
      
        <div class="right-profile col-12 col-md-12 col-lg-4">
        <div class="row g-3 ">
          <div class="col-md-12">
            <div class="profile-pictuer rounded-2 position-relative justify-content-center">
                      
              
              <div class="prof-img rounded-2 ">
                
                {%if image%}
                <img src="{{image}}"class="d-block rounded-2" id="current-image">
                {%else%}
                <img src="{% static 'images/avatar.png'%}" alt="" class="d-block rounded-4" id="current-image">
                {%endif%}
          

              </div>
          
              <input class="form-control" type="file" accept="image/png, image/gif, image/jpeg" style="display:none;" id="photo"  name="image"/> 
              <div class="select-img">
                {%if image%}
                <button type="button" data-bs-toggle="modal" data-bs-target="#delete-img">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                {%else%}
                <button type="button" onclick="document.getElementById('photo').click();">
                  <i class="fa-solid fa-camera-retro"></i>
                </button>
                {%endif%}
              </div>
            </div>
          </div>
           <div  class="col-md-12 d-flex justify-content-center">
            <button type="button" class="image-button position-relative"  data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span id="num-pdf" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
              <i class="fa-solid fa-file"></i>
              
            </button>
            <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h5 class="modal-title" id="exampleModalLabel">إضافة اوراق بحثية</h5>
                      </div>
                      <div class="modal-body">
                          <div id="drag-drop-area"></div>
                      </div>
                    </div>
                  </div>
                </div>

                
              <input class="form-control" type="file" accept="application/pdf" style="display:none;" id="pdf-file" multiple name="file" /> 
              <a class="d-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <button  class="image-button"  type="button">
              <i class="fa-solid fa-link"></i>
          </button>
          </a>
        </div>

        <div class="col-md-12  position-relative" id="file-progress">  
          
        </div>

        <div  class="col-md-12 d-flex justify-content-center">

          <div class="collapse" id="collapseExample">
              <label for="inputwork" class="form-label invalid-p ">إضافة Email :</label>
            <input type="text" class="form-control  " id="email" name="email">
            <label for="inputwork" class="form-label invalid-p ">إضافة Linkedin :</label>
            <input type="text" class="form-control  " id="linkedin" name="linkedin" >
            <label for="inputwork" class="form-label invalid-p ">إضافة Facebook :</label>
            <input type="text" class="form-control " id="facebook" name="facebook" >
            <label for="inputwork" class="form-label invalid-p ">إضافة Twitter :</label >
            <input type="text" class="form-control " id="twitter" name="twitter">
            <label for="inputwork" class="form-label invalid-p ">إضافة Whatsup :</label>
            <input type="text" class="form-control  " id="whatsup" name="whatsup" >
            <label for="inputwork" class="form-label invalid-p ">إضافة رقم الهاتف :</label>
            <input type="text" class="form-control  " id="phone" name="phone">
          </div>
        </div>
        
      </div>
      </div>

      <div class="left-profile col-12 col-md-12 col-lg-8">
          <div class="row g-3">
          <div class="col-12 col-md-4">
            <label for="username" class="form-label invalid-p ">اسم المستخدم :</label>
            <input type="text" class="form-control input-info" id="username"  name='username' required>
            <div class="invalid-feedback">
              <p>يرجى ملئ هذا الحقل</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label for="first_name" class="form-label invalid-p "> الاسم الاول :</label>
            <input type="text" class="form-control input-info" id="first_name"  name='first_name' required>
            <div class="invalid-feedback">
              <p>يرجى ملئ هذا الحقل</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label for="last_name" class="form-label invalid-p "> اللقب :</label>
            <input type="text" class="form-control input-info" id="last_name"  name='last_name' required>
            <div class="invalid-feedback">
              <p>يرجى ملئ هذا الحقل</p>
            </div>
          </div>

          <div class="col-12 col-md-4" id="eligible">
            <label for="eligible" class="form-label invalid-p ">اختر المؤهل الجامعي :</label>
            <select id="validationCustom09" class="form-select selection" name="eligible" required>
              <option selected disabled value="">اختر المؤهل الجامعي</option>
            </select>
          </div>

          <div class="col-12 col-md-4" id="department">
            <label for="department" class="form-label invalid-p ">اختر التخصص الجامعي :</label>
            <select id="validationCustom05" class="form-select selection" name="department" required>
              <option selected disabled value="">اختر التخصص الجامعي</option>
            </select>
          </div>
        
          <div class="col-12 col-md-4">
            <label for="specialty" class="form-label invalid-p ">اختر التخصص الدقيق :</label>
            <select id="validationCustom04" class="form-select selection" name="specialty" required>
              <option selected disabled value="">اختر التخصص الدقيق</option>
            </select>
          </div>

          <div class="col-12 col-md-4">
            <label for="degree" class="form-label invalid-p ">اختر  الدرجة العلمية :</label>
            <select id="validationCustom08" class="form-select selection" name="degree" required>
              <option selected disabled value="">اختر  الدرجة العلمية</option>
            </select>
          </div>
        
          <div class="col-12 col-md-4">
            <label for="university" class="form-label invalid-p "> اختر الجامعة :</label>
            <select id="validationCustom06" class="form-select selection" name="university" required>
              <option selected disabled value="">اختر الجامعة </option>
            </select>
          </div>
        
          <div class="col-12 col-md-4">
            <label for="college" class="form-label invalid-p "> اختر الكلية :</label>
            <select id="validationCustom07" class="form-select selection" name="college" required>
              <option selected disabled value="">اختر الكلية </option>
            </select>
          </div>
          
          <div  class="col-12 col-md-4">
            <label for="date" class="form-label invalid-p d-block">وقت التفرغ(اختياري) :</label>
            <input class="form-control input-info input-info" type="date" id="date" name="date"
               value="01-01-2023"
               min="2018-01-01">
          </div>
          
          <div class="col-6 col-md-2">
            <div class="form-check">
              <label class="form-check-label invalid-p " for="gridCheck">
                متفرغ للعمل كمشرف
              </label>
              <input class="form-check-input float-none" type="checkbox" id="check-s" name="supervisor">
            </div>
          </div>
          <div class="col-6 col-md-2">
            <div class="form-check">
              <label class="form-check-label invalid-p " for="gridCheck">
                متفرغ للعمل كممتحن
              </label>
              <input class="form-check-input float-none" type="checkbox" id="check-e" name="examiner">
            </div>
          </div>
          
            <div class="col-12 col-md-4">
              <div class="form-check">
                <label for="exampleFormControlTextarea1" class="form-label invalid-p">كتابة نبدة تعرفية(اختياري) :</label>
            <textarea id="brief" class="form-control" id="exampleFormControlTextarea1" rows="3" name="brief"></textarea>
              </div>
            </div>

            {%if papers%}
            <div class="col-6 col-md-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                الاوراق البحثية
              </button>
            </div>
            {%endif%}

            <div class="col-6 col-md-3">
              <!-- Button trigger modal -->
              <a class="btn btn-light" href="{%url 'change-password'%}" role="button">تغيير كلمة السر</a>
            </div>

          </div>  
      </div>
      <div  class="col-12 col-md-12">
        <button type="submit" class="btn btn-light me-5"/>تعديل</button>
    </div>
    </form>

    <!-- Modal -->
      <div  class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div dir="rtl" class="modal-header">
            
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h5 class="modal-title" id="exampleModalLabel">حذف الاوراق البحثية</h5>
          </div>
          <form action="delete_paper" method="POST">
            {% csrf_token %}
            <div class="modal-body">

              {%for paper in papers%}
              <div class="form-check">
      
                <input class="form-check-input" type="checkbox" value="{{paper.id}}" id="flexCheckDefault" name="p">
                <label class="form-check-label" for="flexCheckDefault">
                  {{paper.paper_name}}
                </label>
              </div>

              {%endfor%}
              
                
            </div>
            <div dir="rtl" class="modal-footer">
              <button type="submit" class="btn btn-primary">حذف</button>
            </div>
          </form>
        </div>
      </div>
      </div>

          <!-- Modal -->
          <div  class="modal fade" id="delete-img" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div dir="rtl" class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
              </div>
              <form action="delete_image" method="post">
                {% csrf_token %}
                <div class="modal-body">
                  <h5 class="modal-title" id="exampleModalLabel">هل تريد حذف الصورة الشخصية؟</h5>
                </div>
                <div dir="rtl" class="modal-footer">
                  <button type="submit" class="btn btn-primary">حذف</button>
                </div>
              </form>
            </div>
          </div>
          </div>

      </div>
    </div>
  </div>

  
</div>
<!--section tow -->

{% include 'parts/footer.html'%}
<script src="{%static 'js/jquery-3.6.1.min.js'%}" ></script>
<script src="{%static 'js/data.js'%}" ></script>
<script src="{%static 'js/uppy.min.js'%}" ></script>
<script src="{%static 'js/ar_SA.min.js'%}" ></script>

<script>
  var uppy = new Uppy.Uppy({
    debug: true,
    locale: Uppy.locales.ar_SA,
    restrictions: {
    allowedFileTypes: ['.pdf'],
    requiredMetaFields: ['caption']
    }
  })
  uppy.use(Uppy.Dashboard, {
    inline: true,
    target: '#drag-drop-area',
    thumbnailWidth: 280,
    proudlyDisplayPoweredByUppy: false,
    height: 500, 
    allowedMetaFields: true,
    metaFields: [
        { id: 'caption', name: 'إسم الورقة', placeholder: 'add description' },
        ],
        
    
    })
  uppy.use(Uppy.XHRUpload, { 
    endpoint: '{%url 'file-upload' %}',
    headers: {'X-CSRFToken': "{{csrf_token}}"},
    fileData:true,
    fileName:'files[]',
    limit:1,
  
  })
  uppy.on('complete', (result) => {
    console.log('Upload complete! We’ve uploaded these files:', result.successful)
  })
</script>


<script type="text/javascript">



  const fileElem = document.getElementById("photo")
  fileElem.addEventListener("change", handleImageFiles, false);
  function handleImageFiles() {

    for (let i = 0; i < this.files.length; i++) {
    const img = document.getElementById("current-image");
        img.src = window.URL.createObjectURL(this.files[i]);
        img.onload = () => {
          URL.revokeObjectURL(img.src);
        }
      }
  }

  const myForm = document.getElementById("pic-form")
  const csrf = document.getElementsByName('csrfmiddlewaretoken')
  const pdfFile = document.getElementById("pdf-file")
  const currentFile = document.getElementById("current-file")
  const fileProgress = document.getElementById("file-progress")


  pdfFile.addEventListener("change", handlePdfFiles, false);
  function handlePdfFiles() {  
    
    document.getElementById("num-pdf").textContent=this.files.length;

    for (var i=0; i < this.files.length; i++) {
    const fileLenght = this.files.length
    const pdfFile = this.files[i]
    const pdf = new FormData()
    pdf.append('csrfmiddlewaretoken', csrf[0].value)
    pdf.append("paper", pdfFile)

    $.ajax({
      type: "POST",
      url: myForm.action,
      data: pdf,
      beforeSend: function() {

      },
      xhr: function(){
        const xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress", e=>{
          console.log(fileProgress)
          if (e.lengthComputable){
          const percent = e.loaded / e.total * 100
          fileProgress.innerHTML = `
                                <span id="current-file" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">${i}/${fileLenght}</span>
                                <div class="progress" role="progressbar"  aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: ${percent}%">${percent.toFixed(1)}%</div>
                              </div>`
                            }
            })
        return xhr
      },
      success:function(response){
        console.log(response)
      },
      error:function(error){
      },
      cache: false,
      contentType: false,
      processData: false,

    })
  } 
  
}

  
  

  const getUniverstyData = () => {
    const universty = document.getElementById('validationCustom06')
    $.ajax({
      type: 'GET',
      url:  '/universty-data',
      success: function(response){
          const data = response.data
          data.map(vlaue=>{
              universty.innerHTML += `<option value="${vlaue.id}"> ${vlaue.university_name}</option>`
            })
      },
      error: function(error){
      }
  })
  }
 
   const getCollegesData = () => {
    const colleges = document.getElementById('validationCustom07')
      $.ajax({
        type: 'GET',
        url:  '/colleges-data',
        success: function(response){
            const data = response.data
            data.map(vlaue=>{
              colleges.innerHTML += `<option value="${vlaue.id}"> ${vlaue.college_name}</option>`
              })
        },
        error: function(error){
        }
    })
    }

    const getDegreeData = () => {
      const colleges = document.getElementById('validationCustom08')
        $.ajax({
          type: 'GET',
          url:  '/degrees-data',
          success: function(response){
              const data = response.data
              data.map(vlaue=>{
                colleges.innerHTML += `<option value="${vlaue.id}"> ${vlaue.degree_name}</option>`
                })
          },
          error: function(error){
          }
      })
      }

      const getEligibleData = () => {
        const colleges = document.getElementById('validationCustom09')
          $.ajax({
            type: 'GET',
            url:  '/eligibles-data',
            success: function(response){
                const data = response.data
                data.map(vlaue=>{
                  colleges.innerHTML += `<option value="${vlaue.id}"> ${vlaue.eligible_name}</option>`
                  })
            },
            error: function(error){
            }
        })
        }

    getCollegesData()
    getUniverstyData()
    getDegreeData()
    getEligibleData()


  let date = new Date();
  let day = date.getDate();
  let month = date.getMonth()+1;
  let year = date.getFullYear();
  if (month < 10){
    month = '0'+month
  }
  let startDate =day + '-' + month + '-' + year

  document.addEventListener("DOMContentLoaded", function(){
  document.getElementById("username").value = "{{username}}"
  document.getElementById("first_name").value = "{{first_name}}"
  document.getElementById("last_name").value = "{{last_name}}"
  document.getElementById("date").setAttribute("min", startDate);
  document.getElementById("date").setAttribute("value", "{{date}}")
  document.getElementById("check-s").checked = "{{supervisor}}"
  document.getElementById("check-e").checked = "{{examiner}}"
  document.getElementById("email").value = "{{email}}"
  document.getElementById("linkedin").value = "{{linkedin}}"
  document.getElementById("facebook").value = "{{facebook}}"
  document.getElementById("twitter").value = "{{twitter}}"
  document.getElementById("whatsup").value = "{{whatsup}}"
  document.getElementById("phone").value = "{{phone}}"
  document.getElementById('brief').textContent= "{{brief}}"


    setTimeout(()=>{
    
      document.getElementById("validationCustom05").options.selectedIndex= {{department | default:0}}
      document.getElementById("validationCustom06").options.selectedIndex = {{university | default:0}}
      document.getElementById("validationCustom07").options.selectedIndex= {{college | default:0}}
      document.getElementById("validationCustom08").options.selectedIndex= {{degree | default:0}}
      document.getElementById("validationCustom09").options.selectedIndex= {{eligible | default:0}}
      const value = {{department | default:0}}
      const specialList = document.getElementById('validationCustom04')
      specialList.innerHTML = ''
      specialList.innerHTML = `<option selected disabled value="">اختر التخصص الدقيق</option>`
      $.ajax({
          type: 'GET',
          url:  `/get-search-data/${value}`,
          success: function(response){
              const data = response.data
                  data.map(vlaues=>{
                      specialList.innerHTML += `<option value="${vlaues.id}"> ${vlaues.specialty_name}</option>`
                    })
          },
          error: function(error){
          }
      })
    }, 500)
    setTimeout(()=>{
      document.getElementById("validationCustom04").value = {{specialty | default:0}}
      }, 1000)
    

})
 

 
</script>

{% endblock %}
