{% extends 'base.html' %}
{% load static %}
{% block  content %}
{%if user_id is not None%}
{% include 'parts/userNav.html'%}
{%else%}
{% include 'parts/nav.html'%}
{%endif%}

{% include '../parts/poster.html' %}
<!--section tow -->
<div class="faetures justify-content-center">
  <div class="container">
    <div class="row lets-go position-relative justify-content-sm-center justify-content-center">
        <div dir="rtl" class="left col-md col-sm-6 ms-2">
            <h1 class="watch-ful-list me-5">جد<span class="red-word"> مشرفا</span> او <span class="yellow-word">ممتحن</span> في مجال تخصصك</h1>
            <p class="mt-3 me-5 fs-7 "> يمكنك البدء في البحث من  <span class="yellow-word"> <a class=""  href="{% url 'search' %}">هنا</a> </span></p>
          </div>
          <div dir="rtl" class="right col-md col-sm-6 me-2" id="department">
            <h1 >هل أنت جاهز للبحث عن مشرف/ممتحن؟</h1>
            <div class="line"></div>
          </div>
        </div>
    </div>
    <div class="section-three-titel d-flex justify-content-center">
      <h1>يمكنك البدء في تصفح الموقع من هنا</h1>
    </div>
  </div>
</div>
<!--section tow -->

<!--loader-->
  <div class="loder  d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="loade-content">
      <div class="position-relative mt-4">
        <div class="progress" style="height: 1px;">
          <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 0%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
        <button type="button" id='secondary' class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
        <button type="button" id='therd' class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
      </div>
    </div>
    </div>
  </div>
<!--loader-->

<!--section three -->
<div class="last-section">
  <div class="container">
    <!--content-->
    <div class="content row">
      <!--pictuer-->
        <div class="p-pictuer d-none d-lg-block col-md-6">
          <img dir="rtl" src="{% static 'images/pic-4.png'%}"  alt="" >
        </div>
      <!--pictuer-->
      <!--titel-->
        <div class="paragraph  col-12 col-md-6 position-relative">
            <div class="col-12 main-title">
                <img dir="rtl" src="{% static 'images/blob-4.svg'%}"  alt="" >
                <h1><span>أفضل</span> ورقة بحثية لهذه السنة</h1>
            </div>
            <div dir="rtl" class="col-12 section-title ">
                <p>يقدم هذا القسم أفضل الورقات البحثية التي تم تقييمها من مجموعة من المتخصصين</p>
                <a class="btn btn-primary rounded-pill main-btn mt-1 me-2" href="{% url 'working' %}">الذهاب الان</a>
            </div>
        </div>
        <!--titel-->
    </div>
    <!--content-->


    <!--content-->
    <!--content-->
    <div class="content row center-content">
      <!--titel-->
        <div class="paragraph-news col-12  position-relative">
            <div class="main-title d-flex justify-content-center" id="titel-tow">
                <img dir="rtl" src="{% static 'images/blob-5.svg'%}"  alt="" >
                <h1 class="mb-4 "><span >إحصائيات</span></h1>
            </div>
        </div>
        <!--titel-->
        <!--pictuer-->
        <div dir="rtl" class="p-pictuer col-12  d-flex justify-content-around ">
          <div class="counters rounded-3 text-center">
            <i class="fa-solid fa-file fa-2xl"></i>
            <h1 class="num" data-goal="{{num_of_paper_goal}}">{{num_of_paper}}</h1>
            <p >عدد الاوراق</p>
          </div>
          <div class="counters rounded-3 color-2 text-center">
            <i class="fa-solid fa-user fa-2xl"></i>
            <h1 class="num" data-goal="{{num_of_student_goal}}">{{num_of_student}}</h1>
            <p >عدد الطلبة</p>
          </div>
          <div class="counters rounded-3 color-1 text-center">
            <i class="fa-solid fa-users fa-2xl"></i>
            <h1 class="num" data-goal="{{nom_of_graduates_goal}}">{{nom_of_graduates}}</h1>
            <p >عدد الخريجين</p>
          </div>
        </div>
      <!--pictuer-->
    </div>
    <!--content-->


    <!--content-->
    <div id="slider" class="news-content position-relative rounded-4 carousel slide">
      
      <div class="news-container row position-relative rounded-4 ">
        <div id="news-pictuer" class="news-pictuer col-12 col-md-12 col-lg-6 position-relative ">
          <img class="style-img" dir="rtl" src="{% static 'images/blob-6.svg'%}"  alt="" >
          {%for img in news%}
          <div class="carousel-item active">
            <img class="one" dir="rtl" src="{{img.news_image.url}}"  alt="" >
          </div>  
          {%endfor%}
        </div>

        <div  class="news-titel col-12 col-md-12 col-lg-6  d-flex justify-content-center align-items-center rounded-4">
          <div id="news-paragraph" class="news-paragraph-content position-relative">
            {%for text in news%}
            <div class="active-paragraph">
              <h2>{{text.news_titel}}</h2>
              <p>{{text.news}}</p>
            </div>
            {%endfor%}
          </div>

          </div>
    </div>
      <button id="prev" type="submit" class="btn btn-primary mt-3 rounded-pill butto-right" type="button" data-bs-target="#slider" data-bs-slide="prev"   style="width: 3rem; height:3rem;z-index: 1000;">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
      <button id="next" type="submit" class=" btn btn-primary mt-3 rounded-pill butto-left" type="button" data-bs-target="#slider" data-bs-slide="next" style="width: 3rem; height:3rem;z-index: 1000;">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </div>

<!--content-->

    

  </div>


</div>
<!--section three -->

<script type="text/javascript">
   newsContent = Array.prototype.slice.call(document.getElementById("news-paragraph").children),
   newsImage = Array.prototype.slice.call(document.getElementById("news-pictuer").children),
   nextButton = document.getElementById("next"),
   prevButton = document.getElementById("prev"),
   currentSlide = 0,
   currentActive = 0
   ;

   function playSlide(slide) {
              for(var i = 0; i <newsContent.length; i++) {
                newsContent[i].classList.remove("active-paragraph");
                newsContent[i].classList.remove("inactive");
            }
            if (slide < 0){
              slide = currentSlide = newsContent.length - 1;
            }

          if(slide > newsContent.length - 1){
            slide = currentSlide = 0;
          }

          
          newsContent[slide].classList.add("active-paragraph");
          currentActive = currentSlide;

     
  }

  nextButton.addEventListener("click", function(){
    playSlide(currentSlide -= 1);
  })

  prevButton.addEventListener("click", function(){
    playSlide(currentSlide += 1);
  })  
</script>

<script type="text/javascript">

  let start = false;
  let nums = document.querySelectorAll('.p-pictuer .counters .num');
  
  function statCount(el){
    let goal = el.dataset.goal;
    console.log(goal)
    let count = setInterval(() => {
      el.textContent++;
      if(el.textContent == goal){
        clearInterval(count)
      }
    }, 2000 / goal);
  }


  function deleteClass() {

    for(var i = 1; i <newsContent.length; i++) {
      newsContent[i].classList.remove("active-paragraph");
      newsImage[i+1].classList.remove("active");

}
}
  window.onscroll = function(){
      if(window.scrollY > 2400){
          var progress = document.querySelector('.progress-bar')
          progress.style.width ="50%";
          var element = document.getElementById("secondary");
              element.classList.remove("btn-secondary");
              element.classList.add("btn-primary");
          if(!start){
            nums.forEach((num) => statCount(num));
          }
          start = true;
          
      }else if(window.scrollY < 2400){
          var element = document.getElementById("secondary");
              element.classList.remove("btn-primary");
              element.classList.add("btn-secondary");
          var progress = document.querySelector('.progress-bar')
              progress.style.width ="0%";                        
      }

      if(window.scrollY > 3100){
          var progress = document.querySelector('.progress-bar')
          progress.style.width ="100%";
          var element = document.getElementById("therd");
              element.classList.remove("btn-secondary");
              element.classList.add("btn-primary");
      }else if(window.scrollY < 3100 && window.scrollY > 2400){
          var element = document.getElementById("therd");
          element.classList.remove("btn-primary");
          element.classList.add("btn-secondary");
          var progress = document.querySelector('.progress-bar')
              progress.style.width ="50%";
          }
      
  }
  deleteClass()
</script>
{% include 'parts/footer.html'%}
{% endblock %}


